:root {
    --primary: rgb(252, 80, 1, 1);
    --primary-dark: rgb(221, 66, 5, 1);
    --primary-70: rgba(252, 80, 1, 0.8);
    --primary-50: rgba(252, 80, 1, 0.6);
    --primary-30: rgba(252, 80, 1, 0.4);
    --primary-10: rgba(252, 80, 1, 0.2);
    --logo: rgb(252, 80, 1, 1);
    --sidebar-icon: #fff;
    --succes: rgb(50, 185, 23);
    --orange: rgb(252, 80, 1, 1);
    --info: rgb(0, 113, 193);
    --danger: rgb(204, 50, 50);
}

.bg-grad-sidebar {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgb(252, 80, 1, 1)),
    to(#f96c38)
  );

  background-image: linear-gradient(
    0deg,
    rgb(252, 80, 1, 1),
    #f96c38
  );
}