@media (max-width: 992px) {

    html:not([dir="rtl"]) .h-header .dropdown-trigger img.mr-3 {
        margin-right: 2em;
    }
    html([dir="rtl"]) .h-header .dropdown-trigger img.mr-3 {
        margin-left: 2em;
    }

}